* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER */
#container-header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* DEBUG */
    background-color: blue;
}

#container-header a {
    color: gray;
}

.menu {
    width: 50%;
    height: 100%;
    font-size: 15px;
}

.left-header {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    /* DEBUG */
    background-color: red;
}

.right-header {
    /* DEBUG */
    background-color: blueviolet;
}

/* MAIN */




/* FOOTER */