* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER */
#container-header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid rgb(233, 232, 232);
}

.menu {
    width: 50%;
    height: 100%;
    font-size: 15px;
}

a.menu-item {
    color: gray;
}

/* parte sinistra header */
.left-header {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

/* parte destra header */
.right-header {
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.button {
    background-color: #0061ff;
    padding: 5px 15px;
    color: white;
}


/* contenitore main e footer */
#container-main-footer {
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: auto;
}


/* MAIN */

/* sezione jumbo */
section {
    width: 100%;
}

.backg-light-blue {
    background-color: #b4d0e7;
}

.container-main {
    width: 60%;
    margin: 0 auto;
}

.container-main h1 {
    font-size: 60px;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 30px;
}

.text-img-jumbo {
    display: flex;
}

.text-jumbo {
    width: 30%;
}


.text-jumbo p {
    margin-bottom: 30px;
    font-size: 12px;
}

.text-jumbo span {
    display: block;
    margin-top: 30px;
    font-size: 15px;
}

.arrow {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 50px;
}

.img-jumbo {
    width: 70%;
    position: relative;
}

.img-jumbo img {
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: -20px;
}

/* sezione abbonamento */
.container-all {
    width: 50%;
    margin: 0 auto;
}

.container-all h2 {
    font-size: 30px;
}

.sec-subscribe {
    padding-top: 120px;
}

.choose-sub {
    margin-top: 40px;
    margin-bottom: 30px
}

.invoice {
    margin-left: 5px;
    margin-right: 40px;
}

/* tre metodi abbonamento */
.container-subscriptions {
    display: flex;
    justify-content: space-between;
    /* forse serve stretch */
    align-items: flex-start;
}

.column {
    width: 30%;
    border: 1px solid gray;
    /* DEBUG */
    height: 800px;
    background-color: aquamarine;
}

.plan-type {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.plan-type i {
    font-size: 10px;
    margin-right: 5px;
}



/* FOOTER */