/* sezione clients */
.clients:hover {
    box-shadow: inset 0px 0px 0px 12px rgba(255, 255, 255, 0.2);
}

/* sezione faq */
.answers {
    display: none;
}

.row-questions {
    cursor: pointer;
}

.row-questions:hover .answers {
    display: inline-block;
}