/* header */
.block-item {
    height: 100%;
    align-content: center;
    position: relative;
}

.block-item:hover {
    box-shadow: inset 0 -2px 0px rgba(25, 25, 25, 0.2);
    cursor: pointer;
}

.block-item:hover .sub-menu {
    display: inline-block;
}

.sub-menu {
    background-color: white;
    position: absolute;
    bottom: -80px;
    left: 0;
    right: -110px;
    z-index: 900;
    display: none;
}

.sub-menu-item {
    padding: 10px;
}

.sub-menu-item:hover {
    background-color: rgb(234, 234, 234);
}



/* sezione clients */
.clients:hover {
    box-shadow: inset 0px 0px 0px 12px rgba(255, 255, 255, 0.2);
}

/* sezione faq */
.answers {
    display: none;
}

.row-questions {
    cursor: pointer;
}

.row-questions:hover .answers {
    display: inline-block;
}